<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{menu.html}">
<head>
    <meta charset="UTF-8" >
    <title>List of Contacts </title>
    <!--  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"></link>
      <link rel="stylesheet" type="text/css" th:href="@{/imgstyle.css}"></link> -->
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <div class="col-lg-3">
                <a th:href="@{/agendas/importData/excel}" class="btn btn-primary btn-sm mb3">Selenium </a>
            </div>
            <h1 class="text-center"> Register a contact</h1>

            <div class="card-body">
                <form th:action="@{/agendas}" th:object="${agenda}" method="POST">




                        <div class="form-group">
                            <label> Name: </label>
                            <input type="text" name="name" id="name" th:field="*{name}" class="form-control"
                                   placeholder="Put your last name" required></input>
                        </div>
                        <div class="form-group">
                            <label>Last Name: </label>
                            <input type="text" id="lastName" name="lastName" th:field="*{lastName}" class="form-control"
                                   placeholder="Write down his/her lastname" required></input>
                        </div>



                    <div class="form-group">
                        <label>phone number  : </label>
                        <input type="tel" id="phoneNumber" name="tel" th:field="*{phoneNumber}" class="form-control"
                               placeholder="Write down your phoneNumber" required></input>
                    </div>
                    <div class="form-group">
                        <label> email : </label>
                        <input type="email" id="email" name="email" th:field="*{email}" class="form-control"
                               placeholder="Write down your email" required></input>

                    </div>
                        <div class="form-group">
                            <label>country : </label>
                            <input type="text" id="country" name="country" th:field="*{country}" class="form-control"
                                   placeholder="Write down your country" required></input>

                        </div>
                        <div class="form-group">
                            <label>city : </label>
                            <input type="text" id="city" name="city" th:field="*{city}" class="form-control"
                                   placeholder="Write down your city" required></input>

                        </div>

                        <div class="form-group">
                            <label>city : </label>
                            <input type="text" id="identification" name="identification" th:field="*{identification}" class="form-control"
                                   placeholder="Write down your identification" required></input>
                        </div>



                    <br>

                    <div class="box-footer">
                        <button class="btn btn-success" id="save">Save</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>





</div>
</body>
</html>